@use 'sass:math';
@use 'sass:list';
/*
  @function get-max

  Looks at a map of values and returns the largest value in that map

  Parameters:
  $map - map to check
*/

@function get-max($map) {
  $list: (0);

  @each $key, $val in $map {
    $list: list.append($list, $val, comma);
  }

  @return math.max($list...);
}
