// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ internal

@import 'functions/string-replace';
@import 'functions/map-deep-get';

@import 'functions/unit/strip-units';
@import 'functions/unit/rem-calc';

@import 'functions/breakpoint/get-breakpoint-directions';
@import 'functions/breakpoint/get-media';
@import 'functions/breakpoint/process-breakpoints';
@import 'functions/breakpoint/get-smallest-breakpoint';

@import 'functions/color/isColorVariable';

@import 'functions/grid/colspan';
@import 'functions/grid/get-max';

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ setup

@import 'mixins/processStructure';
  @import 'mixins/breakpoint';

@import 'mixins/processColors';

@import 'mixins/processTypography';
  @import 'mixins/typeAttribute';
  @import 'mixins/typeStyle';
  @import 'mixins/typeStyles';
  @import 'mixins/typeset';

@import 'mixins/processGrid';
  @import 'mixins/colspan';
  @import 'mixins/setColspan';
  @import 'mixins/setBreakpointColspan';
  @import 'mixins/setGridCol';
  @import 'mixins/setBreakpointGridCol';
  @import 'mixins/setStartEndCColumn';
  @import 'mixins/setBreakpointStartEndCColumn';

@import 'mixins/processSpacing';

@import 'mixins/setupDevTools';

@import 'mixins/container';
@import 'mixins/font-smoothing';
@import 'mixins/placeholder';
@import 'mixins/visually-hidden';
@import 'mixins/float-clear';
@import 'mixins/background-fill';
@import 'mixins/keyline-full';

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ resets

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

[hidden] {
  display: none;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ config

$_a17-scss-generate-classes: (
  colspan: true,
  grid: true,
  color: true,
  spacing: true,
  typography: true,
  devtools: true,
);

@if variable-exists(a17-scss-generate-classes) {
  $_a17-scss-generate-classes: map-merge($_a17-scss-generate-classes, $a17-scss-generate-classes);
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ go go go

@include processColors();
@include processStructure();
@include processGrid();
@include processTypography();
@include processSpacing();

@include setupDevTools();
