.copy h2 {
  @include typeset(h2);
}

.copy h2:not(:first-child),
.copy.col-6\@lg h2,
.grid + .copy h2 {
  margin-top: 3.5rem;
  border-top: 1px solid var(--border-secondary);
  padding-top: 3rem;
}

.copy h3 {
  @include typeset(h3);
  margin-top: 2.5rem;
}

.copy h4 {
  @include typeset(h4);
  margin-top: 2.5rem;
}

.copy p,
.copy ul {
  @include typeset(body);
}

.copy p {
  margin-top: 1.25rem;
}

.copy p:first-child {
  margin-top: 0rem;
}

.copy ul {
  margin-top: 1.25rem;
  list-style-type: disc;
  padding-left: 1rem;
}

.copy ul ul {
  margin-top: 0rem;
}

.copy > img {
  margin-top: 1.25rem;
  border: 1px solid #eee;
}

.copy .code-example {
  margin-top: 1.25rem;
}

.copy code:not([class]) {
  @include typeset(code);
  background-color: var(--grey-10);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.125rem;
  color: var(--black);
}

.copy pre:not([class]) {
  @include typeset(code);
  margin-top: 1.25rem;
  display: block;
  max-height: 25rem;
  overflow-y: scroll;
}

.copy pre:not([class]) code:not([class]) {
  display: block;
  padding: 0.5rem;
}

.copy a {
  color: var(--blue-03);
  text-decoration: underline;
}

.copy a:hover, .copy a:focus {
  color: var(--grey-90);
}

.copy hr {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  border: 0;
  border-top: 1px solid var(--grey-15);
}

.copy .blockquote {
  margin-top: 1.25rem;
}

@include breakpoint('md+') {
  .copy > *:not(.code-example,.copy h2,.copy hr) {
    max-width: 80%;
  }
}

@include breakpoint('lg+') {
  .copy:not(.col-6\@lg) > *:not(.code-example,.copy h2,.copy hr) {
    max-width: 60%;
  }

  .copy.col-6\@lg > *:not(.code-example,.copy h2,.copy hr) {
    max-width: 100%;
  }
}

.props-table {
  margin-top: 1.25rem;

  thead {
    @extend %f-ui;
    text-align: left;

    th {
      padding: 0 1rem 0.5rem 0;
    }
  }

  tbody {
    @extend %f-code;

    td {
      padding: 0.5rem 1rem 0.5rem 0;
      border-top: 1px solid var(--border-secondary);
    }
  }
}

.copy .mixin {
  @include typeset(code);
  margin-top: 1.25rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  display: block;
  background-color: var(--grey-90);
  color: var(--grey-3);

  .mixin-include {
    color: #e28964;
  }

  em {
    color: #aeaeae;
  }
}

.mixin-table {
  margin-top: 1.25rem;

  thead {
    @extend %f-ui;
    text-align: left;

    th {
      padding: 0 1rem 0.5rem 0;
    }
  }

  tbody {
    @extend %f-body;

    td {
      padding: 0.5rem 1rem 0.5rem 0;
      border-top: 1px solid var(--border-secondary);
    }
  }
}

