.header {
  border-bottom: 1px solid var(--border-primary);

  ul {
    @include container;
    padding-top: 12px;
    padding-bottom: 12px;

    @include breakpoint('sm+') {
      display: flex;
      flex-direction: row;
    }
  }

  li {
    @extend %f-body;
    margin-top: 20px;
    list-style-type: none;

    @include breakpoint('sm+') {
      margin-top: 0;
      margin-right: 20px;
    }
  }

  li:first-child {
    margin-right: auto;
  }

  li:last-child {
    margin-right: 0;
  }

  a {
    color: var(--text-primary);
    text-decoration: none;
  }

  svg {
    display: inline-block;
    vertical-align: text-bottom;
  }

  div {
    @include container;
    padding-top: 60px;
    padding-bottom: 40px;

    @include breakpoint('md+') {
      padding-top: 80px;
    }

    @include breakpoint('lg+') {
      padding-top: 100px;
    }
  }
}
