.mixin-table {

  thead {
    @extend %f-ui;
    text-align: left;

    th {
      padding: 0 1rem 0.5rem 0;
    }
  }

  tbody {
    @extend %f-body;

    td {
      padding: 0.5rem 1rem 0.5rem 0;
      border-top: 1px solid var(--border-secondary);
    }
  }
}
