.grid-demo .col,
.grid-demo [class*=col-],
.colspan-demo [class*=colspan-],
.float-clear-demo .float-clear [class*=colspan-],
.float-clear-demo > p {
  position: relative;
  min-height: var(--inner-gutter);
  background: #ccc;
  list-style-type: none;
}

.float-clear [class*=colspan-] {
  float: left;
}

.float-clear-demo > p {
  margin-top: var(--inner-gutter);
  font: 12px/var(--inner-gutter) monospace;
}

.grid-demo .col::before,
.grid-demo [class*=col-]::before,
.colspan-demo [class*=colspan-]::before,
.float-clear [class*=colspan-]::before {
  content: attr(class);
  position: absolute;
  left: 0;
  top: 0;
  padding: 0 5px;
  font: 12px/var(--inner-gutter) monospace;
  white-space: nowrap;
}
.grid-demo .col .grid-demo .col,
.grid-demo .col [class*=colspan-],
.grid-demo .col .grid-demo [class*=col-],
.grid-demo [class*=col-] [class*=colspan-],
.grid-demo .col .colspan-demo [class*=colspan-],
.colspan-demo [class*=colspan-] [class*=colspan-],
.grid-demo [class*=col-] .grid-demo .col,
.grid-demo [class*=col-] .grid-demo [class*=col-],
.grid-demo [class*=col-] .colspan-demo [class*=colspan-],
.colspan-demo [class*=colspan-] .grid-demo .col,
.colspan-demo [class*=colspan-] .grid-demo [class*=col-],
.colspan-demo [class*=colspan-] .colspan-demo [class*=colspan-] {
  background: #f2f2f2;
}
.grid-demo .col + [class*=colspan-]:not([class*=col-]),
.grid-demo [class*=col-] + [class*=colspan-]:not([class*=col-]),
.colspan-demo [class*=colspan-] + [class*=colspan-]:not([class*=col-]) {
  margin-top: var(--inner-gutter);
}
.grid-demo .col .grid-demo .col .grid-demo .col,
.grid-demo .col .grid-demo .col .grid-demo [class*=col-],
.grid-demo .col .grid-demo .col .colspan-demo [class*=colspan-],
.grid-demo .col .grid-demo [class*=col-] .grid-demo .col,
.grid-demo .col .grid-demo [class*=col-] .grid-demo [class*=col-],
.grid-demo .col .grid-demo [class*=col-] .colspan-demo [class*=colspan-],
.grid-demo .col .colspan-demo [class*=colspan-] .grid-demo .col,
.grid-demo .col .colspan-demo [class*=colspan-] .grid-demo [class*=col-],
.grid-demo .col .colspan-demo [class*=colspan-] .colspan-demo [class*=colspan-],
.grid-demo [class*=col-] .grid-demo .col .grid-demo .col,
.grid-demo [class*=col-] .grid-demo .col .grid-demo [class*=col-],
.grid-demo [class*=col-] .grid-demo .col .colspan-demo [class*=colspan-],
.grid-demo [class*=col-] .grid-demo [class*=col-] .grid-demo .col,
.grid-demo [class*=col-] .grid-demo [class*=col-] .grid-demo [class*=col-],
.grid-demo [class*=col-] .grid-demo [class*=col-] .colspan-demo [class*=colspan-],
.grid-demo [class*=col-] .colspan-demo [class*=colspan-] .grid-demo .col,
.grid-demo [class*=col-] .colspan-demo [class*=colspan-] .grid-demo [class*=col-],
.grid-demo [class*=col-] .colspan-demo [class*=colspan-] .colspan-demo [class*=colspan-],
.colspan-demo [class*=colspan-] .grid-demo .col .grid-demo .col,
.colspan-demo [class*=colspan-] .grid-demo .col .grid-demo [class*=col-],
.colspan-demo [class*=colspan-] .grid-demo .col .colspan-demo [class*=colspan-],
.colspan-demo [class*=colspan-] .grid-demo [class*=col-] .grid-demo .col,
.colspan-demo [class*=colspan-] .grid-demo [class*=col-] .grid-demo [class*=col-],
.colspan-demo [class*=colspan-] .grid-demo [class*=col-] .colspan-demo [class*=colspan-],
.colspan-demo [class*=colspan-] .colspan-demo [class*=colspan-] .grid-demo .col,
.colspan-demo [class*=colspan-] .colspan-demo [class*=colspan-] .grid-demo [class*=col-],
.colspan-demo [class*=colspan-] .colspan-demo [class*=colspan-] .colspan-demo [class*=colspan-] {
  border: 1px solid #333;
}

.grid-demo,
.colspan-demo,
.float-clear-demo {
  padding-top: var(--inner-gutter);
  padding-bottom: var(--inner-gutter);

  .grid-demo,
  .colspan-demo,
  .float-clear-demo {
    padding-bottom: 0;
  }
}

.colspan-demo--flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.colspan-demo--flex [class*=colspan-] + [class*=colspan-]:not([class*=col-]) {
  margin-top: 0;
}
.colspan-demo--flex .colspan-demo--flex {
  padding-top: var(--inner-gutter);
}
.colspan-demo--flex .colspan-demo--flex .colspan-demo--flex [class*=colspan-] {
  border: 1px solid #333;
  background-color: transparent;
}

.grid-demo .colspan-demo [class*=colspan-] {
  padding-top: var(--inner-gutter);
}

.grid-demo .colspan-demo [class*=col-] {
  border: 1px solid #333;
  background-color: transparent;
}

.grid-demo--10,
.colspan-demo--10 {
  --grid-columns: 10;
}

.grid-demo--24,
.colspan-demo--24 {
  --grid-columns: 24;
}

.colspan-demo--nested {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.colspan-demo--nested > [class*=colspan-], .colspan-demo--nested > [class*=colspan-] > [class*=colspan-] {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-top: var(--inner-gutter);
}
.colspan-demo--nested [class*=colspan-] + [class*=colspan-]:not([class*=col-]) {
  margin-top: 0;
}
.colspan-demo--nested [class*=colspan-] [class*=colspan-] [class*=colspan-] {
  border: 1px solid #333;
}

