/*
  @function get-smallest-breakpoint

  Returns the name of the smallest breakpoint
*/

@function get-smallest-breakpoint($points) {
  // else look for the smallest
  $smallestName: null;
  $minSize: 999999999999px;

  @each $key, $value in $points {
    @if $value < $minSize {
      $minSize: $value;
      $smallestName: $key;
    }
  }
  @return $smallestName;
}
