@use "sass:map";
@use "sass:list";

/*
  @function process-breakpoints

  Returns a breakpoints array
*/

@function process-breakpoints($points) {
  $bps: ();

  @each $key, $value in $points {
    $index: list.index(($points), ($key $value));
    $nextIndex: $index + 1;
    $nextValue: 9999px;

    @if $nextIndex <= list.length($points) {
      $nextValue: list.nth(map.values($points), $nextIndex);
    }

    $bp: (start: $value, end: $nextValue);
    $bps: map.merge($bps, ($key: $bp));
  }
  @return $bps;
}
