@mixin setupGrid() {
  $max-columns: get-max($a17-column-count);

  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ colspan */

  @if map-get($_a17-scss-generate-classes, 'colspan') == true {
    @if variable-exists(structure) {
      [class*='colspan-'] {
        width: 100%;
      }

      // Generate col classes
      @for $i from 1 through $max-columns {
        @include setColspan($i);
      }

      // Generate responsive col classes by breakpoint
      @each $name, $point in $a17-breakpoints {
        $grid-columns: map-get($a17-column-count, $name);

        @if ($name == $a17-smallest-breakpoint-name) {
          @for $i from 1 through $grid-columns {
            @include setBreakpointColspan($i, $name);
          }
        } @else {
          @include breakpoint('#{$name}+') {
            @for $i from 1 through $grid-columns {
              @include setBreakpointColspan($i, $name);
            }
          }
        }
      }
    } @else {
      @error 'No `$structure` map found when trying to make `colspan` classes';
    }
  }

  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ grid/col-*/

  @if map-get($_a17-scss-generate-classes, 'grid') == true {
    @if variable-exists(structure) {
      .grid {
        display: grid;
        column-gap: var(--inner-gutter);
        grid-template-columns: repeat(var(--grid-columns), 1fr);
      }

      .col,
      [class*='col-'] {
        grid-column: span var(--grid-columns);
      }

      // Generate Start/End columns
      @for $i from 1 through $max-columns {
        @include setGridCol($i);
        @include setStartEndCColumn($i);
      }

      // Generate Start/End responsive col classes by breakpoint
      @each $name, $point in $a17-breakpoints {
        $grid-columns: map-get($a17-column-count, $name);

        @if ($name == $a17-smallest-breakpoint-name) {
          @for $i from 1 through $grid-columns {
            @include setBreakpointColumn($i, $name);
            @include setBreakpointStartEndCColumn($i, $name, $grid-columns);
          }
        } @else {
          @include breakpoint('#{$name}+') {
            @for $i from 1 through $grid-columns {
              @include setBreakpointColumn($i, $name);
              @include setBreakpointStartEndCColumn($i, $name, $grid-columns);
            }
          }
        }
      }
    } @else {
      @error 'No `$structure` map found when trying to make `grid` classes';
    }
  }
}
