// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ include setup tokens

@import '_tokens';

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ include A17 SCSS Utilities

//@import '~@area17/scss-utilities/a17-scss-utilities';
$a17-scss-generate-classes: (
  colspan: true,
  grid: true,
  color: true,
  spacing: true,
  typography: true,
);
@import '../a17-scss-utilities';

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ include site css

@import 'mixins/_base';
@import 'mixins/_header';
@import 'mixins/_footer';
@import 'mixins/_copy';
@import 'mixins/_code-example';
@import 'mixins/_grid-colspan-demo-styles';
@import 'mixins/_mixin';
@import 'mixins/_mixin-table';
@import 'mixins/_props-table';
