// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ include setup tokens

@import '_tokens';

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ include A17 SCSS Utilities

//@import '~@area17/scss-utilities/a17-scss-utilities';
$a17-scss-generate-classes: (
  colspan: true,
  grid: true,
  color: true,
  spacing: true,
  typography: true,
  devtools: true,
);
@import '../a17-scss-utilities';

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ include site css

@import 'scss/_base';
@import 'scss/_header';
@import 'scss/_footer';
@import 'scss/_copy';
@import 'scss/_code-example';
@import 'scss/_grid-colspan-demo-styles';
@import 'scss/_mixin';
@import 'scss/_mixin-table';
@import 'scss/_props-table';
@import 'scss/_demos';
